a {
	color: inherit;
	
}

@font-face {
	font-family: 'Jura';
	src: url('./Jura-VariableFont_wght.ttf') format('truetype');
}

body {
	
	overflow-x: hidden;
	
	margin-top: 40vh;
	
	font-family: 'Jura';
	
	background: #000;
	color: #fff;
	
	font-size: 24px;
	
   	background-attachment: fixed;
    background-position: center center;	
	background-image: url('./dark.png');
	background-size: auto;
	
	image-rendering: pixelated;	
	image-rendering: crisp-edges;
	
}

#header {
	

	
    max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 5rem;
    display: flex;
    justify-content: center;

	h1 {
		transform: translateY(5rem);
		position: absolute;
		font-weight: 100;
	    text-align: center;
		max-width: 100%;
	}
	
	.glow, .glow1 {

		position: absolute;
		width: 100%;
		z-index: -1;
		
		color: #fff6;
		filter: blur(4px);
		max-width: 100%;
	}
	
	.glow1 {
		color: #fffa;
		filter: blur(10px);
	}
}

#nav {
	
	font-weight: 600;
	max-width: 850px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	
	text-decoration: none;
	
	p {
		margin-top: 0px;
		margin-bottom: -0.5rem;
		z-index: 1;
	}
	
	.light {
		font-weight: 500;
		color: #ffffff80;
	}
	
	.lighter {
		font-weight: 250;
		color: #ffffff60;
	}
	
	.lightest {
		font-weight: 050;
		color: #ffffff40;
	}
	

}

#main {
	
	overflow-x: hidden;
	
	margin-top: 0px;
	margin-bottom: 0px;
	
	max-width: 850px;
	
	.cover {
		height: 14rem;
		width: 14rem;
		object-fit: cover;
		border-radius: 4px;
		outline: solid #ffffff28 1.5px;
		outline-offset: -1.5px;
	}
	
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	gap: .5rem;
	margin: auto;
	margin-top: .5rem;
	padding: .25rem;
	

	
	border-radius: 6px;
	outline: solid #ffffff28 1.5px;
	
	p {
		margin-top: 0px;
		margin-bottom: 6px;
		font-size: 20px;
	}
	
	.infos {
		color: #ffffff90;
		font-size: 18px;
	}
	
	.post {
		
		display: flex;
		position: relative;
		
		div {
			flex-grow: 1;
			margin-left: 0.25rem;
		}
		
		margin-top: 0rem;
		margin-bottom: 0.05rem;
	}
	
	.chips {
		
		transform: translateY(-0.4rem);
		
		position: absolute;
		bottom: 0;
		right: 0;
		
		.chip {
			
			font-size: 16px;
			font-weight: 100;
			padding: 0rem 0.25rem;
			background: rgba(0, 0, 0, 0.7);
			border-radius: 5px;
			outline: solid #ffffff28 1.5px;
			margin: 0.125rem;
			padding-bottom: 0.125rem;
			display: inline-block;
			
			img {
				width: 1rem;
				height: 1rem;
				filter: invert(1);
				padding: 0px;
				margin: 0px;
				transform: translateY(0.15rem);
			}

		}
	}
}

#footer {
	text-align: center;
	font-size: 1rem;
	color: #ffffff90;
}

.title {
	border-radius: 6px;
	background-color: #fff;
	padding: 0 .3rem;
	color: #000;
}

.right {
	float: right;
	color: #ffffff90;
}

@media (prefers-color-scheme: light) {
	

	
	#header {

		.glow, .glow1 {
			color: #0006;
		}
		
		.glow1 {
			color: #000a;
		}
	}
	
	body {
		
		background: #fff;
		color: #000;
		
		background-image: url('./light.png');
		
	}


	#nav {
		
		.light {
			color: #00000080;
		}
		
		.lighter {
			color: #00000060;
		}
		
		.lightest {
			color: #00000040;
		}
		

	}

	#main {
	
		.cover {
			outline: solid #00000028 1.5px;
		}
	
		outline: solid #00000028 1.5px;

		.infos {
			color: #00000090;
		}
		
			
		.chips {
			
			.chip {
				
				background-color: #ffffff28;
				outline: solid #00000028 1.5px;

				
				img {
					filter: invert(0);
				}
				
			}
		}
	}
		
	#footer {
		color: #00000090;
	}

	.title {
		background-color: #000;
		color: #fff;
	}

	.right {
		color: #00000090;
	}
	

}

.footnote {
	text-align: center;
}

@media screen and (max-width: 480px) {
	#main {

	.cover {
		height: 10rem;
		width: 10rem;
	}
}

